/client-side/node_modules
/client-side/.env.local
/client-side/.umirc.local.ts
/client-side/config/config.local.ts
/client-side/src/.umi
/client-side/src/.umi-production
/client-side/src/.umi-test
/client-side/dist
/client-side/.swc
/server-side/node_modules
/server-side/yarn-error.log
/server-side/.DS_Store


